snippet met
	public function ${1}{
	    ${2}
	}

snippet pmet
	protected function ${1}{
		${2}
	}

snippet smet
	public static function ${1}{
		${2}
	}

snippet psmet
	protected static function ${1}{
		${2}
	}

snippet $
	$this->

snippet btn
	<button class="rounded-lg px-2 py-2 text-center shadow bg-${1}-400 text-${1}-900 hover:bg-${1}-500 font-semibold">${2}</button>
